.ProductCardByCat{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  /* padding:20px; */

  margin-bottom:50px;
  margin-top:50px;
 
  
}
.slick-list{

  margin-bottom:20px;
}
.slick-center img {
  display: block;
  margin: 0 auto; 
}


.slick-slide {
  transition: transform 0.3s ease-in-out; 
}


.slick-slide > div {
  /* padding: 20px;  */
}

.ProductCardByCat-img{
  width:250px;
  height:400px;
 
  /* padding-left:180px; */
}
.card slick-track{
  height:400px;
}

.slick-track{
  background-color: black;

  color:white
}
.PCBC-name,.PCBC-price{
 
  
  text-align: center;
  color:white;
  
 
}
.category-title {
 
  margin-bottom:0px;
  margin-top:50px;
  background-color: black;
  color:white;
  padding:10px;
  text-align: center;
}




@media only screen and (max-width:768px){
  slick-slide {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .ProductCardByCat-img{
    width:30%;
    height:50%;
    padding-left:100px;
  }
}